.info-header {
  display: flex;
  align-items: center;
  gap: 8px;
}


.info-title {
  font-size: 16px;
}

.info-icon-wrapper {
  position: relative;
  cursor: pointer;
  font-size: 14px;
}

.info-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 26px;
  left: 0;
  width: 260px;
  background: #0f172a;
  color: #fff;
  padding: 10px 12px;
  border-radius: 8px;
  font-size: 13px;
  z-index: 100;
  transition: opacity 0.2s ease;
}

.info-icon-wrapper:hover .info-tooltip {
  visibility: visible;
  opacity: 1;
}
